---
import orugaImg from "../Assets/img/oruga.png";
import orugaAudio from "../Assets/audio/oruga.mp3";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome">
  <audio id="oruga" loop>
    <source src={orugaAudio} type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
  <main>
    <div class="flex justify-center flex-col mt-2">
      <h1 id="welcomeText" class="hidden text-center text-4xl font-semibold">
        Welcome <span id="ip-address"></span>
      </h1>
      <button id="welcomeButton" class="mb-2 text-4xl font-semibold"
        >Click here</button
      >
      <img
        src={orugaImg.src}
        alt="oruga"
        width="380"
        height="380"
        id="welcomeImg"
        class="hidden mx-auto"
      />
    </div>
    <div class="flex gap-1 fixed bottom-0 left-0 p-4">
      <svg
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        color="#cdd6f4"
        ><path
          d="M3 13C6.6 5 17.4 5 21 13"
          stroke="#cdd6f4"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path><path
          d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z"
          stroke="#cdd6f4"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path></svg
      >
      <p id="counter">0</p>
    </div>
  </main>
</Layout>

<script>
  window.onload = function () {
    fetch("https://api.ipify.org?format=json")
      .then((res) => res.json())
      .then((data) => {
        const ipAddress = data.ip;
        document.getElementById("ip-address").textContent = ipAddress;
      });

    let visits = localStorage.getItem("visits");
    let visited = localStorage.getItem("visited");

    if (visits === null || !visited) {
      visits = 1;
      localStorage.setItem("visited", true);
    } else {
    }

    document.getElementById("counter").textContent = visits;
    localStorage.setItem("visits", visits.toString());
  };

  document
    .getElementById("welcomeButton")
    ?.addEventListener("click", async () => {
      const audio = document.getElementById("oruga");
      audio.play()

      const welcomeText = document.getElementById("welcomeText");
      welcomeText.style.display = "block";

      const welcomeButton = document.getElementById("welcomeButton");
      welcomeButton.style.display = "none";

      const welcomeImg = document.getElementById("welcomeImg");
      welcomeImg.style.display = "block";
    });
</script>
