---
import orugaImg from "../Assets/img/oruga.png";
import orugaAudio from "../Assets/audio/oruga.mp3";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome">
  <audio id="oruga" loop>
    <source src={orugaAudio} type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
  <main>
    <div class="flex justify-center flex-col mt-2">
      <h1 id="welcomeText" class="hidden text-center text-4xl font-semibold">
        Welcome <span id="ip-address"></span>
      </h1>
      <button id="welcomeButton" class="mb-2 text-4xl font-semibold">
        Click here
      </button>
      <img
        src={orugaImg.src}
        alt="oruga"
        width="380"
        height="380"
        id="welcomeImg"
        class="hidden mx-auto"
      />
    </div>
  </main>
</Layout>

<script>
  window.onload = function () {
    fetch("https://api.ipify.org?format=json")
      .then((res) => res.json())
      .then((data) => {
        const ipAddress = data.ip;
        document.getElementById("ip-address").textContent = ipAddress;
      });
  };

  document
    .getElementById("welcomeButton")
    ?.addEventListener("click", async () => {
      const audio = document.getElementById("oruga") as HTMLAudioElement;
      audio.play();

      const welcomeText = document.getElementById("welcomeText");
      welcomeText.classList.remove("hidden");

      const welcomeButton = document.getElementById("welcomeButton");
      welcomeButton.classList.add("hidden");

      const welcomeImg = document.getElementById("welcomeImg");
      welcomeImg.classList.remove("hidden");
    });
</script>
